.register{
    height: 100vh;
    background-color: rgb(193,190,255);
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
       width: 50%;
        max-height: 600px;
        display: flex;
        flex-direction: row-reverse;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;

        .left{
            flex: 1;
            background:  url('https://images.pexels.com/photos/17055522/pexels-photo-17055522/free-photo-of-bird-water-field-summer.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load') center;
            filter: grayscale(50%);
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;
            @media (max-width:767px){
                display: none;
            }
            h1{
    font-size: 80px   ;
    line-height: 80px;
            }
            p{}
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                background: white;
                border: none;
                padding: 10px;
                color: rebeccapurple;
                cursor: pointer;
                font-weight: bold;
            }
        }
        .right{
            flex: 1;
                       padding: 50px;
            background-size: cover;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;
           
            h1{
               color: #555;
            }
            form{
                 display: flex;
            flex-direction: column;
            gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }
                button{
                    border: none;
                    padding: 10px;
                    color: white;
                    background: #938eef;
                    font-weight: bold;
                    cursor: pointer;
                }
    
            }
        }
    }
}